<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UploadConfig" type="FancyFix.Tools.Config.UploadConfig,Tools" />
  </configSections>
  <UploadConfig>
    <SiteOptions>
      <add domain="local" url="http://oa.fancyfix.com/Content/files" folder="E:\workspace\Fancy-fix\源代码\OA\FancyFix.OA\FancyFix.OA\Content\files" />
      <add domain="files" url="http://file.fancyfix.com/files" folder="E:\workspace\Fancy-fix\源代码\OA\FancyFix.OA\FancyFix.OA.Files\files" />
    </SiteOptions>
    <Settings>
      <!--网站文件-->
      <add name="file" filePath="\web\file\" urlFilePath="/web/file/" allowUpload=".rar|.zip|.doc|.docx|.xls|.xlsx|.pdf|.pdfx|.txt" maxFileSize="52428800" createSmallPic="false" width="0" height="0" createMiddlePic="false" createBigPic="false" maxWidth="0" maxHeight="0" addWaterMark="false" waterMarkType="image" waterMarkImgOrTxt="/common/images/logo.png" transparency="1" />
      <!--网站视频-->
      <add name="video" filePath="\web\video\" urlFilePath="/web/video/" allowUpload=".mp4|.rmvb|.avi|.flv|.mkv|.rm|.mov|.wmv|.3gp|.m4v|.mpg|.mpeg|.rar|.zip" maxFileSize="314572800" createSmallPic="false" width="0" height="0" createMiddlePic="false" createBigPic="false" maxWidth="0" maxHeight="0" addWaterMark="false" waterMarkType="image" waterMarkImgOrTxt="/common/images/logo.png" transparency="1" />
      <!--网站图片-->
      <add name="web" filePath="\web\common\" urlFilePath="/web/common/" allowUpload=".gif|.jpg|.jpeg|.bmp|.png" maxFileSize="10484560" createSmallPic="true" width="250" height="250" createMiddlePic="false" createBigPic="false" maxWidth="2048" maxHeight="2048" addWaterMark="false" waterMarkType="image" waterMarkImgOrTxt="/common/images/logo.png" transparency="1" />
      <!--产品图片-->
      <add name="product" filePath="\product\pro\" urlFilePath="/product/pro/" allowUpload=".gif|.jpg|.jpeg|.bmp|.png" maxFileSize="10485760" createSmallPic="true" width="250" height="250" maxWidth="2048" maxHeight="2048" createMinPic="true" minWidth="70" minHeight="70" createMiddlePic="true" middleWidth="350" middleHeight="350" createBigPic="true" bigWidth="800" bigHeight="800" addWaterMark="false" waterMarkType="image" waterMarkImgOrTxt="/common/images/logo.png" transparency="1" />
      <!--产品详细内容图-->
      <add name="prodetail" filePath="\product\detail\" urlFilePath="/product/detail/" allowUpload=".gif|.jpg|.jpeg|.bmp|.png" maxFileSize="10485760" createSmallPic="false" width="250" height="250" maxWidth="2048" maxHeight="2048" createMiddlePic="false" createBigPic="false" addWaterMark="false" waterMarkType="image" waterMarkImgOrTxt="/common/images/logo.png" transparency="1" />
      <!--产品分类图-->
      <add name="proclass" filePath="\product\class\" urlFilePath="/product/class/" allowUpload=".gif|.jpg|.jpeg|.bmp|.png" maxFileSize="10485760" createSmallPic="true" width="156" height="156" maxWidth="2048" maxHeight="2048" createMiddlePic="false" createBigPic="false" addWaterMark="false" waterMarkType="image" waterMarkImgOrTxt="/common/images/logo.png" transparency="1" />
    </Settings>
  </UploadConfig>
</configuration>