
FancyFix.OA/Web.config
FancyFix.OA/Web.config
FancyFix.OA/Web.config
Utils/Tools/bin/Debug/Microsoft.Web.Infrastructure.dll
.vs/FancyFix.OA/v15/.suo
.vs/FancyFix.OA/v15/.suo
.vs/FancyFix.OA/v15/sqlite3/storage.ide
FancyFix.Core/bin/Debug/FancyFix.Core.pdb
FancyFix.Core/bin/Debug/FancyFix.Core.dll
FancyFix.Core/bin/Debug/FancyFix.Core.dll
*.dll
*.dll
*.dll
*.CopyComplete
*.cache
*.txt
*.xml
*.dll
*.dll
*.pdb
.vs/FancyFix.OA/v15/.suo
FancyFix.OA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FancyFix.OA/FancyFix.OA.csproj.user
FancyFix.OA/FancyFix.OA.csproj
FancyFix.OA.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.user
.vs/FancyFix.OA/v15/.suo
FancyFix.OA/Areas/ArtTask/Views/web.config
/.vs/FancyFix.OA/v15/Server/sqlite3
.vs/FancyFix.OA/v15/.suo
.vs/FancyFix.OA/v15/.suo
*.dll
*.dll
*.pdb
.vs/FancyFix.OA/v15/.suo
FancyFix.OA/Web.config
*.dll
*.pdb
.vs/FancyFix.OA/v15/.suo
.vs/FancyFix.OA/v15/.suo
*.dll
*.pdb
*.dll
*.pdb
FancyFix.OA/Web.config
