<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>米纳 MSC系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/Content/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/js/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="/Content/css/adminlte/AdminLTE.min.css">
    @RenderSection("Css", false)
    <script src="/Content/js/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript">
        //全局配置
        window.domain = '@domain';
        window.webUrl = '@webUrl';
        //全局ajax错误监听
        $.ajaxSetup({
            error: function (xhr, status, e) {
                if (xhr.status == '401')
                    ShowError('您没有该操作权限！');
                else
                    ShowError('服务器发生错误，请重试！');
            },
            cache: false
        });
    </script>
    <!--[if lt IE 9]>
    <script src="/Content/js/customer/html5shiv.min.js"></script>
    <script src="/Content/js/customer/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition sidebar-mini ad_bodybg">
    <div class="wrapper">
        <section class="content">
            @RenderBody()
        </section>
    </div>
    <script src="/Content/js/bootstrap/bootstrap.min.js"></script>
    <script src="/Content/js/plugins/layui/layui.js"></script>
    @RenderSection("Js", false)
</body>
</html>