@using FancyFix.OA.Areas.Supplier.Models;
@using FancyFix.Tools.Enums;
@{
    ViewBag.Title = "ExportExcel";
    Layout = "~/Views/Shared/_Layout_In.cshtml";
}

@section Css{
    <link href="/Content/js/plugins/iCheck/flat/_all.css" rel="stylesheet" />
}
<form action="ExportExcel" method="post">
    <div class="layui-form layui-form-pane">
        <div class="layui-inline">
            <input name="cols" value="Code" type="checkbox" checked="checked" title="供应商代码" />
            <input name="cols" value="Name" type="checkbox" checked="checked" title="供应商名称" />
            <input name="cols" value="SupplierAb" type="checkbox" checked="checked" title="供应商名称缩写" />
            <input name="cols" value="SupplierType" type="checkbox" checked="checked" title="供应商类型（RM/PM/FG/Parts/Convert)" />
            <input name="cols" value="BusinessScope" type="checkbox" checked="checked" title="经营范围/供应物料" />
            <input name="cols" value="Contact1" type="checkbox" checked="checked" title="联系人（1）/电话/邮箱" />
            <input name="cols" value="Contact2" type="checkbox" checked="checked" title="联系人（2）/电话/邮箱" />
            <input name="cols" value="Site" type="checkbox" checked="checked" title="网址" />
            <input name="cols" value="Address" type="checkbox" checked="checked" title="地址" />
            <input name="cols" value="StartDate" type="checkbox" checked="checked" title="合作时间（起止）" />
            <input name="cols" value="LabelId" type="checkbox" checked="checked" title="合格/黑名单/潜在" />
            <input name="cols" value="Accountdate" type="checkbox" checked="checked" title="账期" />
            <input name="cols" value="Note" type="checkbox" checked="checked" title="备注 " />
        </div>
        <br />
        <br />
        <div class="layui-inline">
            <label class="layui-form-label">导出类型</label>
            <div class="layui-input-inline">
                <select id="selectLabelid" name="selectLabelid" lay-filter="displayid">
                    <option value="0">全部</option>
                    @Html.Raw(Tools.GetOptionHtml(typeof(SupplierLabel)))
                </select>                
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="layui-inline">
            <button id="btnSearch" class="btn bg-orange" lay-submit >导出</button>
        </div>
    </div>
</form>

@section Js{
    <script src="/Content/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/jquery.validator.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/messages_cn.js"></script>
    <script src="/Content/js/common/tools.js"></script>
    <script>
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer;
            var form = layui.form();
        });
    </script>
}