
@{
    ViewBag.Title = "ShowCharts";
    Layout = "~/Views/Shared/_Layout_In.cshtml";
}

@section Css{

}

<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="width:100%;height:500px;"></div>

@section Js{
    <script src="~/Scripts/ECharts/echarts.common.min.js"></script>
    <script>
        // 基于准备好的dom，初始化echarts实例
        $(document).ready(function () {
            var myChart = echarts.init(document.getElementById('main'));
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '原材料价格对比'
                },
                tooltip: {},
                toolbox: {
                    show: true,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: false },
                        magicType: { show: true, type: ['line', 'bar','pie'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                legend: {
                    data: [@Html.Raw(ViewBag.legend)]
                },
                xAxis: {
                    data: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]
                },
                yAxis: {},
                series: [@Html.Raw(ViewBag.seriesData)]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        })




    </script>
}




