@using FancyFix.OA.Model;
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product_ImageTag> taglist = ViewBag.taglist;
}
@section Css{
    <link href="/Content/js/plugins/datatables/bootstrap-table.min.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-xs-12">
        <div class="box-header">
            <h3 class="box-title">产品列表</h3>
        </div>
        <div class="box">
            <div class="box-body">
                <section class="panel">
                    <div class="layui-form layui-form-pane">
                        <div class="layui-inline">
                            <label class="layui-form-label">分类</label>
                            <div class="layui-input-inline">
                                <select id="classparpath" name="classparpath">
                                    <option value="0">所有分类</option>
                                    @Html.Raw(ViewBag.classHtml)
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">SPU编号</label>
                            <div class="layui-input-inline">
                                <input type="text" id="spu" placeholder="SPU编号" class="layui-input" style="width:120px;">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">产品标题</label>
                            <div class="layui-input-inline">
                                <input type="text" id="title" placeholder="产品标题" class="layui-input" style="width:250px;">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-inline">
                                <select class="layui-selecct" id="isshow" name="isshow">
                                    <option value="-1">所有</option>
                                    <option value="1">有效</option>
                                    <option value="0">无效</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">标签</label>
                            <div class="layui-input-inline">
                                <select class="layui-selecct" id="tag" name="tag">
                                    <option value=" ">所有</option>
                                    @if (taglist != null && taglist.Count > 0)
                                    {
                                        foreach (var item in taglist)
                                        {
                                            <option value="@item.Tag">@item.Tag</option>
                                        }
                                    }
                                </select>
                                <span class="layui-word-aux">(标签查询可能需要多等一会儿)</span>
                            </div>
                        </div>
                        <div class="layui-inline pull-right">
                            <button id="btnSearch" class="btn bg-orange" lay-submit lay-filter="formSearch">查询</button>
                        </div>
                    </div>
                </section>
                <div id="toolbar" class="btn-group">
                    <button id="btn_addspu" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增Spu
                    </button>
                    <button id="btn_add" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增产品
                    </button>
                    <button id="btn_import" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>导入产品
                    </button>
                    <button id="btn_delete" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                    </button>
                </div>
                <table id="table" class="table table-bordered table-hover"></table>
                <form id="excelForm" method="post" enctype="multipart/form-data">
                    <input id="fileEle" name="file" type="file" style="display:none" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Js{
    <script src="/Content/js/plugins/datatables/bootstrap-table.min.js"></script>
    <script src="/Content/js/plugins/datatables/bootstrap-table-zh-CN.js"></script>
    <script src="/Content/js/common/tools.js"></script>
    <script>
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer;
            var form = layui.form();

            var TableInit = function () {
                var objTable = new Object();
                //初始化Table
                objTable.Init = function () {
                    $table.bootstrapTable({
                        url: '/product/product/PageList',
                        method: 'get',
                        toolbar: '#toolbar',                //工具按钮用哪个容器
                        idField: "Id",                      //指定主键列
                        uniqueId: "Id",                     //每一行的唯一标识，一般为主键列
                        //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                        //striped: true,                      //是否显示行间隔色
                        minimumCountColumns: 2,             //最少允许的列数
                        clickToSelect: false,                //是否启用点击选中行
                        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                        pagination: true,                   //是否显示分页（*）
                        paginationLoop: false,              //启用分页条无限循环的功能
                        paginationPreText: "上一页",
                        paginationNextText: "下一页",
                        pageNumber: 1,                      //初始化加载第一页，默认第一页
                        pageSize: 10,                       //每页的记录行数（*）
                        pageList: [10, 50, 100],            //可供选择的每页的行数（*）
                        sortable: true,                     //是否启用排序
                        sortOrder: "asc",                   //排序方式
                        sortStable: true,
                        queryParams: objTable.queryParams,  //传递参数（*）
                        //search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                        //searchText: "搜索",                 //初始搜索文字
                        //strictSearch: false,                 //全匹配搜索，否则为模糊搜索
                        //showColumns: true,                  //是否显示所有的列
                        //showRefresh: true,                  //是否显示刷新按钮
                        //showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                        //detailView: true,                     //父子表
                        columns: [{
                            checkbox: true
                        }, {
                            field: 'Spu',
                            title: 'SPU编号',
                            align: 'center',
                            width: 80,
                        }, {
                            field: 'FirstPic',
                            title: '图片',
                            align: 'center',
                            width: 100,
                            formatter: imgFormatter
                        }, {
                            field: 'Title',
                            title: '产品名称',
                            //align: 'center',
                            width: 400,
                            formatter: function (v, r, i) {
                                if (v == null)
                                    return "暂无";
                                return "<a target=\"_blank\" href=\"" + r.Url + "\">" + v + "</a>"
                            }
                        }, {
                            field: 'SupplierProductCode',
                            title: '供应商产品代码',
                            align: 'center'
                        }, {
                            field: 'IsShow',
                            title: '有效',
                            align: 'center',
                            formatter: setShowFormatter
                        }, {
                            field: 'CreateDate',
                            title: '创建时间',
                            align: 'center'
                        }, {
                            title: '操作',
                            align: 'center',
                            formatter: function (v, r, i) {
                                var html = "<a href=\"javascript:;\" data-id=\"" + r.Id + "\" class=\"btnAddSim btn btn-md btn-warning\">添加相似产品</a> <a href=\"javascript:;\" data-id=\"" + r.Id + "\" class=\"btnEdit btn btn-md btn-primary\">编辑内容</a> <a href=\"javascript:;\" data-id=\"" + r.Id + "\" class=\"btnAddRes btn btn-md btn-primary\">上传资源</a> <a href=\"javascript:;\" data-id=\"" + r.Id + "\" class=\"btnAddImg btn btn-md btn-primary\">图片列表</a> <a href=\"javascript:;\" data-spu=\"" + r.Spu + "\" class=\"btnDownload btn btn-md btn-primary\">下载</a>";
                                return html;
                            }
                        }]
                    });
                };

                //得到查询的参数
                objTable.queryParams = function (params) {
                    var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                        pagesize: params.limit,   //页面大小
                        page: params.offset / params.limit + 1,  //页码
                        search: params.search,
                        order: params.order,
                        ordername: params.sort,

                        //自定义参数
                        title: $("#title").val(),
                        classparpath: $("#classparpath").val(),
                        spu: $("#spu").val(),
                        tag: $("#tag").val(),
                        isshow: $("#isshow").val()
                    };
                    return temp;
                };
                return objTable;
            };
            //初始化Table
            new TableInit().Init();

            //图片
            function imgFormatter(v, r, i) {
                if (v == null || v == "")
                    v = "/Content/img/adminlte/img/default-50x50.gif";
                else
                    v = GetMinPic(v);
                return "<img src=\"" + v + "\" height=\"70\" width=\"70\" />"
            }

            //查看产品
            $("#table").on('click', '.btnEdit', function () {
                var id = $(this).data("id");
                OpenWin("产品编辑", "/product/product/Edit/" + id, "80%", "100%");
            });

            //添加相似产品
            $("#table").on('click', '.btnAddSim', function () {
                var id = $(this).data("id");
                OpenWin("上传资源", "/product/product/edit?similarId=" + id, "80%", "100%");
            });

            //上传资源
            $("#table").on('click', '.btnAddRes', function () {
                var id = $(this).data("id");
                OpenWin("上传资源", "/product/product/addresource/" + id, "80%", "100%");
            });

            //图片列表
            $("#table").on('click', '.btnAddImg', function () {
                var id = $(this).data("id");
                OpenWin("图片列表", "/product/image/list/" + id, "80%", "100%");
            });

            //下载
            $("#table").on('click', '.btnDownload', function () {
                var spu = $(this).data("spu");
                window.location.href = '/product/search?spu=' + spu;
            });

            //新增产品
            $("#btn_add").on('click', function () {
                OpenWin("产品添加", "/product/product/Edit", "80%", "100%");
            });

            //新增Spu
            $("#btn_addspu").on('click', function () {
                OpenWin("新增Spu", "/product/product/addspu", "550px", "350px");
            });

            //导入产品
            $("#btn_import").click(function () {
                var select = '<select class="form-control" id="importclass"><option value="0">选择分类</option>@(Html.Raw(ViewBag.importClassHtml))</select>';
                layer.confirm('Excel模版：<a target="_blank" href="/Content/files/产品库产品导入模版.xlsx">点击下载</a><br>选择一个最底层分类：' + select + '<br>(重名已存在的产品会自动跳过)', {
                    title: "提示",
                    btn: ['确定', '取消']
                }, function (index, layero) {
                    var $class = $("#importclass").find("option:selected");
                    var classId = parseInt($class.val());
                    var childNum = parseInt($class.attr("child"));
                    if (childNum > 0 || classId == 0)
                        layer.msg('请选择一个最底层分类');
                    else {
                        excelForm.action = "/product/product/ImportProduct?classId=" + classId;
                        $("#fileEle").trigger("click");
                    }
                    layer.close(index);
                }, function (index) {
                    layer.close(index);
                });
            });
            $("#fileEle").on("change", function () {
                excelForm.submit();
            })

            function setShowFormatter(v, r, i) {
                if (v > 0)
                    return "<a href=\"javascript:;\" data-id=\"" + r.Id + "\"  class=\"btnSetShow btn btn-success btn-circle btn-lg btn-xs\" type=\"button\"> <i class=\"fa fa-check\"></i></a>";
                else
                    return "<a href=\"javascript:;\" data-id=\"" + r.Id + "\"  class=\"btnSetShow btn btn-danger btn-circle btn-lg btn-xs\" type=\"button\"> <i class=\"fa fa-times\"></i></a>";
            }

            //设置显隐
            $("#table").on('click', '.btnSetShow', function () {
                var id = $(this).data("id");
                $.post('/product/product/setshow/' + id, function (data) {
                    if (data)
                        Reload();
                    else
                        ShowError('修改失败！');
                })
            });

            //批量删除
            $("#btn_delete").on('click', function () {
                if (CheckSelections()) {
                    layer.confirm('确定删除所选项吗？', {
                        btn: ['确定', '取消']
                    }, function (index, layero) {
                        var list = GetSelections();
                        $.post('/product/product/deletebatch', { list }, function (data) {
                            if (data)
                                Reload();
                            else
                                ShowError('删除失败！');
                        })
                        layer.close(index);
                    }, function (index) {
                        layer.close(index);
                    });
                }
            });

            //监听提交
            form.on('submit(formSearch)', function (data) {
                Reload();
                return false;
            });

            //删除单个产品
            $("#table").on('click', '.btnDel', function () {
                var $this = $(this);
                layer.confirm('确定删除该产品吗?', {
                    btn: ['确定', '取消']
                }, function (index, layero) {
                    var id = $this.data("id");
                    $.post('/product/product/delete/' + id, function (data) {
                        if (data) {
                            var $$table = $this.closest("table");
                            ReloadTable($$table);
                        }
                        else
                            ShowError('删除失败！');
                    });
                    layer.close(index);
                }, function (index) {
                    layer.close(index);
                });
            });
        })
    </script>
}
