<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;User ID=sa;Password=123;Initial Catalog=OA;" />
    <!--<add name="ConnectionString" connectionString="Data Source=.;User ID=yuzuoxiang;Password=yu759974394YU;Initial Catalog=OA;" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=116.62.218.150;User ID=sa;Password=sameway2018;Initial Catalog=OA;" />-->
  </connectionStrings>
  <appSettings>
    <!--文本日志路径-->
    <add key="LogPath" value="~/log" />
    <add key="filePath" value="E:\workspace\Fancy-fix\源代码\OA\FancyFix.OA\FancyFix.OA\Content\files" />
    <!--域名-->
    <add key="domain" value="fancyfix.com" />
    <add key="weburl" value="http://oa.fancyfix.com" />
    <!--价值观、KPI考核截止日-->
    <add key="WorkerEndDay" value="10" />
    <!--KPI 进程生成截止日-->
    <add key="KpiCreateEndDay" value="9" />
    <!--系统全局 年份下拉框起始年份-->
    <add key="StartYear" value="2017" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>