@model int
@{
    ViewBag.Title = "DaCall";
    Layout = "~/Views/Shared/_Layout_In.cshtml";
}

@section Css{
    <link href="~/Content/css/starability/starability-all.min.css" rel="stylesheet" />
    <style>
        body {
            background: #494A5F;
            color: #D5D6E2;
            font-weight: 500;
            font-size: 1.05em;
            font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
        }

        a {
            color: #2fa0ec;
            outline: none;
            text-decoration: none;
        }

            a:hover, a:focus {
                color: #74777b;
                text-decoration: none;
            }

        .content {
            width: 100%;
            min-height: 0;
        }

        .starability-container {
            width: 350px;
            margin: 0 auto;
            padding: 2em 0;
            border-bottom: 1px solid #D5D6E2;
        }

        .center {
            text-align: center;
        }

        .starability-checkmark {
            width: 320px;
        }
    </style>

}
<form id="mainform" action="/arttask/arttasklist/dacall" method="post">
    <fieldset class="starability-checkmark">
        <legend>请为设计师打分:</legend>
        <input type="radio" id="rate10" name="rating" value="10">
        <label for="rate10" title="10分"></label>

        <input type="radio" id="rate9" name="rating" value="9">
        <label for="rate9" title="9分"></label>

        <input type="radio" id="rate8" name="rating" value="8">
        <label for="rate8" title="8分"></label>

        <input type="radio" id="rate7" name="rating" value="7">
        <label for="rate7" title="7分"></label>

        <input type="radio" id="rate6" name="rating" value="6">
        <label for="rate6" title="6分"></label>

        <input type="radio" id="rate5" name="rating" value="5">
        <label for="rate5" title="5分"></label>

        <input type="radio" id="rate4" name="rating" value="4">
        <label for="rate4" title="4分"></label>

        <input type="radio" id="rate3" name="rating" value="3">
        <label for="rate3" title="3分"></label>

        <input type="radio" id="rate2" name="rating" value="2">
        <label for="rate2" title="2分"></label>

        <input type="radio" id="rate1" name="rating" value="1">
        <label for="rate1" title="1分"></label>
    </fieldset>
    <input type="hidden" id="id" name="id" value="@(Model)">
    <button type="submit" id="btnPass" class="btn btn-primary" style="float: right;">保存</button>
</form>